.card {
  margin-top:10px;
}

.image { /* Adjust the maximum width as needed */
  max-height: 100px; /* Adjust the maximum height as needed */
  object-fit: contain; /* Ensures the image fills the container without distortion */
}

a:link, a:visited, a:active {
  color: #213547;
  text-decoration:none;
}
.title{
  width: 200px;
  height: 50px;
}

.price{
  text-align: right;
}